/** 
 * Estilo de la caja de login.
*/
.Login{
    height: 100vh;
}

/**
 * Estilo del título de login.
*/
.login_title{
    font-family: "PlutoSans", sans-serif;
    margin-top: 25px;
    margin-bottom: 18px;
}

/**
 * Estilo de los inputs de login.
*/
.login_inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "PlutoSans", sans-serif;
    margin-top: 2vh;
    margin-left: 12vw;
    margin-right: 12vw;
}

/**
 * Vista realizada por GitHub Copilot.
 * Estilo de los inputs de login. Deben estar centrados, en columna y con un margen de 10px.
*/
.login_input{
    margin: 10px;
    text-align: center;
    flex-direction: column;
}


/**
 * Estilo de la alerta de login.
*/
.login_alert{
    font-family: "PlutoSans", sans-serif;
    margin-top: 1vh;
    margin-left: 22vw;
    margin-right: 22vw;
    text-align: center;
}

/**
 * Estilo del hr de login.
*/
.hr_separator_login{
    margin-left: 22vw;
    margin-right: 22vw;
}

/**
 * Estilo del título de registrarse en el login.
*/
.login_title_signup{
    font-family: "PlutoSans", sans-serif;
    margin-top: 25px;
    margin-bottom: 18px;
}

/**
 * Estilo del texto de registrarse en el login.
*/
.login_description_signup{
    font-family: "PlutoSans", sans-serif;
    margin-top: 25px;
    margin-bottom: 18px;
}

/**
 * Estilo del botón de registrarse en el login.
*/
#login_signup{
    font-family: "PlutoSans", sans-serif;
    background-color:rgb(86, 123, 225);
    border: #000000;
}

/**
 * Estilo de la alerta de login. Salta cuando el usuario se ha registrado correctamente.
*/
.login_alert_relogin{
    font-family: "PlutoSans", sans-serif;
    margin-left: 20vw;
    margin-right: 20vw;
    text-align: center;
}

/**
 * Vista realizada por GitHub Copilot.
 * Estilo de la alerta de login. Salta cuando el usuario se ha registrado correctamente. Tiene margen izquierdo y derecho de 10vw y está centrado.
*/
.login_alert{
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
}

/**
 * Estilo del contenedor de recuperar contraseña.
*/
.login_forgot_password{
    margin-top: 1vh;
}