/** 
 * Estilo de la caja de CustomerAdd.
*/
.CustomerAdd{
    height: 103vh;
    width: 100%;
    background-color: #ebebeb;
}

/** 
 * Estilo del texto de título de la vista.
*/
.CustomerAdd_title{
    font-size: 30px;
    font: 30em;
    font-family: "PlutoSans", sans-serif;
    margin-bottom: 25px;
    margin-top: 25px;
    color:rgb(86, 123, 225);
}

/** 
 * Estilo del formulario.
*/
.CustomerAdd_form{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 30px;
    margin-bottom: 30px;
}

/** 
 * Estilo de los comentarios de cada campo.
*/
.form_text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10px;
}


/** 
 * Vista realizada por GitHub Copilot.
 * Estilo de los comentarios de cada campo. Debe estar al inicio de la página y con un margen inferior.
*/
.CustomerAdd_comment{
    margin-bottom: 1em;
    text-align: left;
}

/** 
 * Estilo del botón de añadir.
*/
.CustomerAdd_add{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 30px;
    margin-bottom: 30px;
}