/** 
 * Estilo de la caja de EmployeeAdd.
*/
.EmployeeAdd{
    height: 112vh;
    width: 100%;
    background-color: #ebebeb;
}

/** 
 * Estilo del título de la vista.
*/
.EmployeeAdd_title{
    font-size: 30px;
    font: 30em;
    font-family: "PlutoSans", sans-serif;
    margin-bottom: 25px;
    margin-top: 25px;
    color:rgb(86, 123, 225);
}

/** 
 * Estilo del formulario.
*/
.EmployeeAdd_form{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 30px;
    margin-bottom: 30px;
}

/** 
 * Estilo de los comentarios de los inputs.
*/
.form_text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10px;
}

/** 
 * Estilo del botón de añadir.
*/
.EmployeeAdd_add{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 30px;
    margin-bottom: 30px;
}