/** 
 * Estilo de la caja de PacketAdd.
*/
.PacketAdd{
    height: 100%;
    width: 100%;
    background-color: #ebebeb;
}

/** 
 * Estilo deL título de la vista.
*/
.PacketAdd_title{
    font-size: 30px;
    font: 30em;
    font-family: "PlutoSans", sans-serif;
    margin-bottom: 25px;
    margin-top: 25px;
    color:rgb(86, 123, 225);
}

/** 
 * Estilo del formulario.
*/
.PacketAdd_form{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 30px;
    margin-bottom: 30px;
}

/** 
 * Estilo del texto de los inputs.
*/
.form_text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10px;
}

/** 
 * Estilo de los campos de volumen o coste.
*/
.PacketAdd_volume_weight{
    font-family: "PlutoSans", sans-serif;
    margin-bottom: 20px;
}

/** 
 * Estilo del botón de fragilidad.
*/
#PacketAdd_fragility{
    margin-left: 10px;
}